<h1>Repository management</h1>

<p>Currently selected repository:<br>
<b>Name:</b> <%= @repository.project %><br>
<b>Description:</b> <%= @repository.description %><br>
<b>Objects:</b> <%= @repository.firmwares.count %><br>
<b>ID:</b> <%= @repository.id %>

<p><h3>Actions:</h3><p>
<a href="/firmware/new?id=<%= @repository.id %>">Add firmware</a><br>
<a href="/repository/<%= @repository.id %>/objects">List firmware objects</a></p>
<button type="button" class="btn btn-danger" onClick="crudOperation('delete', 'repository', <%= @repository.id %>)">Delete</button>