<h1>Repository firmware management</h1>
Currently managing firmware objects for repository <b><%= @repository.project %></b>:<br>
<%  @i = 0
    @repository.firmwares.each do |firmware| %>
        <% @i += 1 %>
        <dl>
            <dt>Firmware #<%= @i %> <i>(ID: <%= firmware.id %>)</i></dt>
                <dd><b>Version:</b> <%= firmware.version_number %></dd>
                <dd><b>Release type:</b> <%= firmware.release_type %></dd>
                <dd><b>For release:</b> <%= ActiveModel::Type::Boolean.new.cast(firmware.for_release) %></dd>
                <dd><b>Indexed:</b> <%= firmware.created_at %></dd>
                <dd><button type="button" class="btn btn-danger" onClick="crudOperation('delete', 'firmware', <%= firmware.id %>)">Delete</button></dd>
            </dt>
        </dl>
<% end %>