<h1>New firmware for repository</h1>
<% if !@firmware.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @firmware.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<% if FirmwareRepository.count > 0 %>
    <div class="well">
        <div class="form-group">
            <%= form_for @firmware, :multipart => true do |f| %>
                Authentication: 
                <%= f.password_field :authentication, placeholder: "Authentication code", class: "form-control" %><br>
                Version number
                <%= f.text_field :version_number, placeholder: "Numeric version", class: "form-control" %><br>
                Release type
                <%= f.text_field :release_type, placeholder: "alpha / beta / release", class: "form-control" %><br>
                Target repository
                    <select id="repositories" class="form-control" name="firmware[firmware_repository_id]"/>
                        <%- FirmwareRepository.all.each do |repository| %>
                            <%- 
                                @doSelect = true if (request.query_parameters["id"].to_i == repository.id)
                                @repId = repository.id
                                @repName = repository.project
                            %>

                            <option <%= 'selected' if @doSelect %> value="<%= @repId %>"><%= @repName %> (ID: <%= @repId %>)</option>
                        <%- end %>
                    </select><br>
                <div class="mb-3">
                    Firmware binary
                    <%= f.file_field :path_to_bin, class: "form-control" %><br>
                </div></p>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="releaseCheck" name="firmware[for_release]" checked="true">
                    <label class="form-check-label" for="releaseCheck">Publish</label><br>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        <% end %>
    </div>
<% else %>
    <b>No firmware repositories have been set up yet.</b><br>
    <a href="/repository/new">Create new</a>
<% end %>